.todo-item {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.todo-item input,
.todo-item input:focus {
    flex-basis: 100%;
}

.todo-item input:read-only {
    color: #fff;
    border: 0;
    background-color: transparent;
    outline: 0;
}